.button-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.custom-tooltip {
    --bs-tooltip-bg: var(--bs-success);
    font-size: 18px;
}
#projects button {
    width: 100%;
}
#projects .project-photo-frame {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#projects .project-photo-frame > .photo-size {
    width: auto;
    height: 200px;
}
.line {
    height: 0.9px;
    width: 100%;
    background-color: #198754;
}
